# This file holds configuration common to development and deployment.

[buildout]
parts = 
extends = ../versions.cfg
versions = versions
prefer-final = true
unzip = true

sources = sources
sources-dir = src-mrd
auto-checkout = *

extensions =
    buildout.dumppickedversions
    mr.developer