### Deployment for plone3 without blobs

[buildout]
extends = deploy-common.cfg
parts +=
    zeoserver
    zeoclient1

[zeoserver]
recipe = plone.recipe.zope2zeoserver
zope2-location = ${zope2:location}
zeo-address = ${buildout:localip}:${ports:zeoserver}
socket-name = ${buildout:vardir}/zeo.zdsock
file-storage = ${buildout:vardir}/filestorage/Data.fs
# blob-storage = ${buildout:vardir}/blobstorage
zeo-log = ${buildout:logdir}/zeoserver.log
pid-file = ${buildout:vardir}/zeoserver.pid
pack-days = 7

[zeoclient1]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
zeo-client = true
zeo-address = ${zeoserver:zeo-address}
# this password will only be used, if there is no starzel user, yet
user = adminstarzel:starzel
http-address = ${buildout:localip}:${ports:zeoclient}
# blob-storage = ${zeoserver:blob-storage}
# shared-blob = on
var = ${buildout:vardir}
eggs = ${buildout:eggs}
zcml = ${buildout:zcml}
environment-vars =
    zope_i18n_compile_mo_files = true

